.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.welcome {
  margin: 20px;
  font-size: 40px;
}

.hint-text {
  margin: 10px;
  font-size: 24px;
  color: #555;
}


.text-field {
  margin: 30px 0 0 0 !important;
}

.drop-down {
  margin: 30px 0 0 0 !important;
}

.submit-button {
  margin: 20px 0 0 0;
}

.no-photos {
  font-size: 16px;
}

.mars-image {
  max-width: 250px;
  max-height: 250px;
  margin: 20px;
}

.pagination-wrapper {
  margin: 30px 0;
}